body {
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: rgb(4, 0, 255);
  text-shadow: 1px 1px rgb(0, 255, 255);
  background: linear-gradient(
    to bottom,
    rgb(245, 0, 151),
    rgb(255, 0, 119),
    rgb(255, 0, 0)
  );
}

.greet {
  padding-bottom: 10vh;
  padding-top: 6vh;
}

.links {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  font-size: 3rem;
}
